@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
* {padding: 0;margin: 0;}
body {font-size:14px;color:#333;font-family: 'Open Sans', sans-serif;}
button, input, textarea, a, span {outline:none !important;}
h1 {font-size: 30px;text-align: center;width: 100%;}
h2 {font-size:24px;width: 100%;}
h3 {font-size:20px;width: 100%;}
a {text-decoration: none;}
p, ul, ol {padding-bottom: 10px;}
p {margin-bottom: 0;}
ol {padding-left: 30px;}
ol li {padding-bottom: 5px;}
ul.list {list-style: circle;padding-left: 30px;margin-bottom: 0;}
ul.list li {padding-bottom: 5px;}
ol li ul.list {margin-top: 10px;padding-bottom: 0;}
i {word-break: break-all;}

/*header*/
header {background: #222;}
.navbar {width: 100%;background: #222;}
.navbar-nav {padding: 0;}
a.navbar-brand {color: #fff;}
.navbar-nav a {color:#fff;text-transform: uppercase;}
.navbar-nav .active a, .navbar-nav li:hover a {color: #83d0f2;}
.navbar-toggler-icon i {color:#fff;font-size: 30px;}
button.navbar-toggler {padding: 0;}
/*end header*/

/*content*/
#content {padding: 30px 0 50px;min-height: 800px;}
.date {padding-bottom: 30px;display: block;}
.upload {list-style: none;width: 100%;}
.upload li a {background: #eaeff2;color: #4d4353;height: 30px;display: inline-block;line-height: 30px;padding: 0 20px;border-radius: 5px;box-shadow: inset 0 -1px #bbbfc2;}
.upload li a:hover {text-decoration: none;}
.table {margin-top: 20px;}
form {margin: 20px 0 30px;}
form label {text-transform: uppercase;font-weight: bold;}
form select, form input {font-size:14px !important; border-radius: 0 !important;}
.btn {border-radius: 0;}
.warning {color:red;}
.info {margin-bottom: 70px;}
.one-info i {font-size: 40px;color: #222;}
.one-info span {display:block;padding-top: 20px;font-size:20px;}
.one-info {margin-top: 20px;}
.one-info a {color:inherit;font-size:20px;}
pre {width: 100%;background: #ddd;padding: 5px;}
.item, .ttl {margin-bottom: 30px;}
.text-justify {text-align: justify;}
/*end content*/

/*footer*/
footer {background: #222;color: #fff;text-align: center;}
footer p {padding: 10px 0;}
/*end footer*/